* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.container {
    
    padding: 50px;  
    height: 400px;
    width: 300px;
    background-color:#205b7a;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
    border-radius: 10px;
    box-shadow: 2px 4px 4px black;
}
.display{
    height: 50px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

#dispaly {
    height: 50px;
    width: 100%; 
    background-color: #d0e2bd;
    border: none;
    border-radius: 10px;
    
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.row-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: #dceaf6;
    box-shadow: 2px 2px 1px black;
    transition:  ease-in-out;

}
.row-btn:hover{
    box-shadow: 4px 4px 2px black;
}
